<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	The <a href="http://cgi-cspp.cs.uchicago.edu/~mgao/syngame/nested/play.php">Play Syngame</a> is a project to make a synonym game and collect right synonyms from players.
</p>

