<% provide(:title, 'About') %>
<h1>About Twitter App</h1>
<p>
	The Twitter App is the first project that I have been working on with Ruby on Rails. I am exicted to learn and completely enjoyed the benefits of Ruby on Rails program:
	<ul>
		<li> 
			Don't repeat yourself
		</li>
		<li>
			Behavion-Driven-Development using Capybar and Rspec
		</li>
		<li>
			Quicker Launch
		</li>
		<li>
			Easier Changes
		</li>
		<li>
			More Cost-Effective
		</li>
	</ul>
</p>

