<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	The<a href="http://cgi-cspp.cs.uchicago.edu/~mgao/syngame/nested/play.php">Play Syngame</a> is a project to make a synonym game and collect right synonyms from players.<br>
	From <a href="http://www.ci.uchicago.edu">Computation Institute</a><br>
	Leading Project: Michelle Gao<br>
	Email: mgao@uchicago.edu
</p>