<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<a href="http://cgi-cspp.cs.uchicago.edu/~mgao/syngame/">Synonym Game</a> is a synonym game for synonym knowlege and for fun.<br>
	From: <a href="http://www.ci.uchicago.edu">Computation Institute</a><br>
	Leading Project: Michelle Gao<br>
	Email: mgao@uchicago.edu
</p>