<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	<ul class = "nosquare" >
		<li><h3>Michelle Gao</h3></li>
		<br>
		<li>
			The Department of Computer Science
		</li>
		<li>
			The University of Chicago
		</li>
		<li>
			<a href='http://www.linkedin.com/profile/view?id=62785317&trk=tab_pro'> Linkedin Info </a>
		</li>

		<li>
			Email: mgao@uchicago.edu
		</li>
	</ul>
</p>