<% provide(:title, 'Favorite') %>
<h1>My Favorite Websites</h1>
<ul>
	<li>
		Voucher Website is my first project, welcome to visit.
		<br><a href="http://cgi-cspp.cs.uchicago.edu/~mgao/cs53001/cs53001final.html"> Michelle's Voucher Site </a>.
	</li>
	<li>
		Second of my favorite websites is Synonym Game. It includes favorite quotes and it is fun to play. 
		<br><a href="http://cgi-cspp.cs.uchicago.edu/~mgao/syngame/"> Synonym Game</a>
	</li>
</ul>

